// Colors 

$green-color : #419D78;
$black-color : #000000;
$gray-color : #9CA3AF;
$white-color : #FFFFFF;
$gray-white-color : #D1D5DB;

// Fonts

$Inter : 'Inter', sans-serif; 
$playfair-Display :  'Playfair Display', serif;