/* Section 1 About */
#About h2 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 50px 0;
}
#div1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#div1 a {
    color: #419D78;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
#div1 article p{
    margin: 20px 0;
}
#About h3 {
    font-family: var(--Playfair-Display);
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0;
}
#About p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
}
.icon {
    font-size: 40px;
}