@import "./variables";
@import "./mixins";

/* Section 1 Contact */
#Contact {
    margin: 50px 0;

    h2 { 
        font-family: $playfair-Display;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }

    p {
        font-family: $Inter;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        margin: 45px 0;
    }

      /* Forumlaire */ 
    form {
        background-color: $white-color;
        box-shadow: 0px 1px 2px 0px #0000000D;
        width: 672px;
        height: 498px;
        border-radius: 16px; 
    
        label {
            font-family: $Inter;
            font-weight: 500;
            font-size: 16px;  
            margin: 10px 0;
            @include Grid-2C();
        }

        article {
            display: flex;
            gap: 24px;
            justify-content: center;
            margin: 15px 0;
        }

        input {
            border: 1px solid $gray-white-color;
            border-radius: 8px;
            width: 292px;
            height: 50px;
        }

        #div4 {
            margin: 0px 30px;
        }

        textarea {
            border: 1px solid $gray-white-color;
            border-radius: 8px;
            width: 608px;
            height: 146px;
        }

        #div5 {
            margin: 10px 30px;
            display: flex;
        }

        #div5 label {
            display: flex;
        }

        #checkbox {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }

        /* Submit */
        #submit {
            background-color: $green-color;
            border: none;
            color: $white-color;
            font-family: $Inter;
            font-weight: 500;
            font-size: 16px;
            width: 216px;
            height: 48px;
            border-radius: 8px;
            margin: 15px 30px;
            &:hover {
                color: $white-color;
                background-color: $black-color;
            }
        }
    }
}

    @media screen and (max-width:767px) {
    #Contact {
    
        form {
           
            article {
                flex-direction: column;
                margin: 0 30px;                
            }

            textarea {
                width: 292px;
                height: 73px;
            } 
        }
    }
}

