@import "./variables";
@import "./mixins";

/* Footer */
footer {
    background-color: $black-color;
    padding: 30px;

    > div {
        display: flex;
        justify-content: space-between;
    }

    p {
        font-family: $Inter;
        font-weight: 400;
        font-size: 16px;
        color: $gray-color;
    }
    
    #Icons {
        font-size: 24px;
        color: $white-color;
    }
}
