@import "./variables";
@import "./mixins";

* {
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: auto;
}
/* Header */
header {
    display: flex;
    margin: 10px 0;
    height: 64px;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-weight: 700;
        font-size: 24px;
        font-family: $playfair-Display;
    }

    nav {
        display: flex;
        gap: 50px;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            gap: 50px;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: $black-color ;
            font-weight: 500;
            font-size: 16px;
            font-family: $Inter;
            &:hover {
                color: $green-color;
            }
        }
    }

    #Bugermenu {
        display: none;
    }
}

  


@media screen and (max-width:1024px) {
    header { 

        nav {
            display: none;
        }

        #Bugermenu {
            display: flex;
            font-weight: 600;
            font-size: 24px;
        }
    }
}

@media screen and (max-width:767px) {
    header {
        
        nav {
            display: none;
        }

        #Bugermenu {
            display: flex;
            font-weight: 600;
            font-size: 24px;
        }
    }
    
}