@import "./variables";
@import "./mixins";

* {
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: auto;
}
img {
    width: 100%;
    object-fit: cover; 
}
/* Icons arrow */ 
.icon-arrow {
    font-size: 12px;
}

/* Section 1 Introduction */
#Introduction {
    background: linear-gradient(90deg, rgba(45, 48, 71, 0.9) 0%, rgba(45, 48, 71, 0.7) 50%, rgba(45, 48, 71, 0) 100%), url("/image/imgbkc.jpg");
    height: 850px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 

    div {
        @include Grid-2C();
    }

    article {
        margin: 200px 0;
    }

    h2 {
        font-family: $playfair-Display;
        font-weight: 700;
        font-size: 60px;
        color: $white-color;
    }

    p {
        font-family: $Inter;
        font-weight: 400;
        font-size: 18px;
        color: $white-color;
        margin: 30px 0;
    }

    img {
        object-fit: cover;
        width: 248px;
        width: 248px;
        border-radius: 999px;
        margin: 250px 200px;
    }

    button {
        background-color: $green-color;
        border: none;
        border-radius: 8px;
        padding: 12px 14px;
        &:hover {
            color: $white-color;
            background-color: $black-color;
        }
    }

    button a {
        color: $white-color;
        text-decoration: none;
        font-family: $Inter;
        font-weight: 500;
        font-size: 16px;
    }
}


@media screen and (max-width:1024px) {
    #Introduction {
        > div {
            @include Grid-1C();
        }

        article {
            margin: 100px 0;
        }

        h2, p {
            text-align: left;
        }

        img {
            position: absolute;
            top: 300px;
            right: 80px;
        }
    }
    
}

@media screen and (max-width:767px) {
    #Introduction {
        div {
            @include Grid-1C();
        }
    } 
}