@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Inter : "Inter", sans-serif;
    --Playfair-Display :  "Playfair Display", serif;
}
* {
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: auto;
}
img {
    width: 100%;
    object-fit: cover; 
}
/* Header */
header {
    display: flex;
    margin: 10px 0;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-weight: 700;
    font-size: 24px;
    font-family: var(--Playfair-Display);
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--Inter);
    &:hover {
        color: #419D78;
    }
}
header nav {
    display: flex;
    gap: 50px;
    align-items: center;
}
/* Section 1 Introduction */
#Introduction {
    background: linear-gradient(90deg, rgba(45, 48, 71, 0.9) 0%, rgba(45, 48, 71, 0.7) 50%, rgba(45, 48, 71, 0) 100%), url("/image/imgbkc.jpg");
    height: 850px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
#Introduction div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#Introduction article {
    margin: 200px 0;
}
#Introduction h2 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 60px;
    color: white;
}
#Introduction p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 30px 0;
}
#Introduction img {
    object-fit: cover;
    width: 248px;
    width: 248px;
    border-radius: 99999px;
    margin: 250px 200px;
}
#Introduction button {
    background-color: #419D78;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    &:hover {
        color: white;
        background-color: #2D3047;
    }
}
#Introduction button a {
    color: white;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
/* Section 2 About */
#About h3 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}
#div1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#div1 a {
    color: #419D78;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
#div1 article p{
    margin: 20px 0;
}
#About h4 {
    font-family: var(--Playfair-Display);
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0;
}
#About p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
}
// #About article div {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
// }

/* Section 3 Projects */
#Projects {
    background-color: #F9FAFB;
    padding: 30px;
    margin: 95px 0;
}
#Projects h5 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
#Intro p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
}
#div2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding: 40px;
}
.Project_Display {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.Project_Display img {
  display: block;
  width: 100%;
  height: 200px;         
  object-fit: cover;   
  border-radius: 12px 12px 0 0;
}
.Info {
    margin:15px ;
}
.descriptionproject {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    margin: 15px 20px;
}
.nameproject {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 20px;
    margin: 15px 20px;
}
#div2 a {
    text-decoration: none;
    color: #419D78;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
    margin: 15px 20px;
}
#Projects button {
    background-color: #2D3047;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    display: block;
    margin: 50px auto;
    &:hover {
        color: white;
        background-color: #419D78;
    }
}
#Projects button a{
    color: white;
    text-decoration: none;font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
/* Section 4 Contact */
#Contact h6 { 
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
#Contact p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}
/* Forumlaire */ 
form {
    background-color: #F9FAFB;
    box-shadow: 0px 1px 2px 0px #0000000D;
    width: 672px;
    height: 498px;
    border-radius: 16px;  
}

form label {
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;  
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form article {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 15px 0;
}
form input {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 292px;
    height: 50px;
}
#div4 {
    margin: 0px 30px;
}
form textarea {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 608px;
    height: 146px;
}
/* Submit */
#submit {
    background-color: #419D78;
    border: none;
    color: white;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
    width: 216px;
    height: 48px;
    border-radius: 8px;
    margin: 15px 30px;
    &:hover {
        color: white;
        background-color: #2D3047;
    }
}

/* Footer */
footer {
    background-color: #2D3047;
    padding: 30px;
}
footer div {
   display: flex;
   justify-content: space-between;
}
footer p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    color: #9CA3AF;
}
#Icons {
    font-size: 24px;
}