@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Inter : "Inter", sans-serif;
    --Playfair-Display :  "Playfair Display", serif;
}
* {
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: auto;
}
img {
    width: 100%;
    object-fit: cover; 
}
/* Icons arrow */ 
.icon-arrow {
    color: black;
}

/* Section 1 Introduction */
#Introduction {
    background: linear-gradient(90deg, rgba(45, 48, 71, 0.9) 0%, rgba(45, 48, 71, 0.7) 50%, rgba(45, 48, 71, 0) 100%), url("/image/imgbkc.jpg");
    height: 850px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
#Introduction div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#Introduction article {
    margin: 200px 0;
}
#Introduction h2 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 60px;
    color: white;
}
#Introduction p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 30px 0;
}
#Introduction img {
    object-fit: cover;
    width: 248px;
    width: 248px;
    border-radius: 99999px;
    margin: 250px 200px;
}
#Introduction button {
    background-color: #419D78;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    &:hover {
        color: white;
        background-color: #2D3047;
    }
}
#Introduction button a {
    color: white;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}